<div>
    <h2 id="page-heading">
        <span>Match Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-match-record" [routerLink]="['/match-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Match Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="matchRecords">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recordID"><span>Record ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userA"><span>User A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userB"><span>User B</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="algorithmID"><span>Algorithm ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initiatorType"><span>Initiator Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scoreAtoB"><span>Score Ato B</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scoreBtoA"><span>Score Bto A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scoreTotal"><span>Score Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="genderWeight"><span>Gender Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propertyA"><span>Property A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propertyB"><span>Property B</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matchRecord of matchRecords ;trackBy: trackId">
                <td><a [routerLink]="['/match-record', matchRecord.id, 'view' ]">{{matchRecord.id}}</a></td>
                <td>{{matchRecord.recordID}}</td>
                <td>{{matchRecord.userA}}</td>
                <td>{{matchRecord.userB}}</td>
                <td>{{matchRecord.algorithmID}}</td>
                <td>{{matchRecord.initiatorType}}</td>
                <td>{{matchRecord.scoreAtoB}}</td>
                <td>{{matchRecord.scoreBtoA}}</td>
                <td>{{matchRecord.scoreTotal}}</td>
                <td>{{matchRecord.genderWeight}}</td>
                <td>{{matchRecord.propertyA}}</td>
                <td>{{matchRecord.propertyB}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/match-record', matchRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/match-record', matchRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match-record/'+ matchRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="matchRecords && matchRecords.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
