<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-algorithm-heading">Create or edit a Algorithm</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!algorithm.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="algorithm.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name" ngbTooltip="算法名">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="algorithm.name" required maxlength="64"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 64 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_filterStrings" ngbTooltip="过滤属性">Filter Strings</label>
                    <input type="text" class="form-control" name="filterStrings" id="field_filterStrings"
                        [(ngModel)]="algorithm.filterStrings" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.filterStrings?.dirty && editForm.controls.filterStrings?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.filterStrings?.errors?.maxlength">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_scoreStrings" ngbTooltip="计分属性">Score Strings</label>
                    <input type="text" class="form-control" name="scoreStrings" id="field_scoreStrings"
                        [(ngModel)]="algorithm.scoreStrings" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.scoreStrings?.dirty && editForm.controls.scoreStrings?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.scoreStrings?.errors?.maxlength">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_genderWeight" ngbTooltip="需求权重">Gender Weight</label>
                    <input type="number" class="form-control" name="genderWeight" id="field_genderWeight"
                        [(ngModel)]="algorithm.genderWeight" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kValue" ngbTooltip="分块数">K Value</label>
                    <input type="number" class="form-control" name="kValue" id="field_kValue"
                        [(ngModel)]="algorithm.kValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remark" ngbTooltip="算法说明">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="algorithm.remark" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.remark?.dirty && editForm.controls.remark?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.remark?.errors?.maxlength">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enabled" ngbTooltip="是否启用">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                        [(ngModel)]="algorithm.enabled" />
                </div>

                <div class="form-group">
                    <label for="field_filterProperties">Filter Properties</label>
                    <select class="form-control" id="field_filterProperties" multiple name="filterProperties" [(ngModel)]="algorithm.filterProperties">
                        <option [ngValue]="getSelected(algorithm.filterProperties, basePropertyOption)" *ngFor="let basePropertyOption of baseproperties; trackBy: trackBasePropertyById">{{basePropertyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_scoreProperties">Score Properties</label>
                    <select class="form-control" id="field_scoreProperties" multiple name="scoreProperties" [(ngModel)]="algorithm.scoreProperties">
                        <option [ngValue]="getSelected(algorithm.scoreProperties, basePropertyOption)" *ngFor="let basePropertyOption of baseproperties; trackBy: trackBasePropertyById">{{basePropertyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
