<div>
    <h2 id="page-heading">
        <span>算法</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-algorithm" [routerLink]="['/algorithm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            创建新的算法
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="algorithms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>算法名</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="genderWeight"><span>需求权重</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kValue"><span>分块数</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span>算法说明</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enabled"><span>是否启用</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let algorithm of algorithms ;trackBy: trackId">
                <td><a [routerLink]="['/algorithm', algorithm.id, 'view' ]">{{algorithm.id}}</a></td>
                <td>{{algorithm.name}}</td>
                <td>{{algorithm.genderWeight}}</td>
                <td>{{algorithm.kValue}}</td>
                <td>{{algorithm.remark}}</td>
                <td>{{algorithm.enabled}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/algorithm', algorithm.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/algorithm', algorithm.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'algorithm/'+ algorithm.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
