<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="algorithm">
            <h2><span>算法</span> {{algorithm.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="算法名">算法名</span></dt>
                <dd>
                    <span>{{algorithm.name}}</span>
                </dd>
                <dt><span ngbTooltip="需求权重">需求权重</span></dt>
                <dd>
                    <span>{{algorithm.genderWeight}}</span>
                </dd>
                <dt><span ngbTooltip="分块数">分块数</span></dt>
                <dd>
                    <span>{{algorithm.kValue}}</span>
                </dd>
                <dt><span ngbTooltip="算法说明">算法说明</span></dt>
                <dd>
                    <span>{{algorithm.remark}}</span>
                </dd>
                <dt><span ngbTooltip="是否启用">是否启用</span></dt>
                <dd>
                    <span>{{algorithm.enabled}}</span>
                </dd>
                <dt><span>Filter Properties</span></dt>
                <dd>
                    <span *ngFor="let filterProperties of algorithm.filterProperties; let last = last">
                        <a [routerLink]="['/base-property', filterProperties?.id, 'view' ]">{{filterProperties.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Score Properties</span></dt>
                <dd>
                    <span *ngFor="let scoreProperties of algorithm.scoreProperties; let last = last">
                        <a [routerLink]="['/base-property', scoreProperties?.id, 'view' ]">{{scoreProperties.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/algorithm', algorithm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
