<div>
    <h2 id="page-heading">
        <span>Push Records</span>


<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-push-record" [routerLink]="['/push-record/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span >-->
<!--            Create new Push Record-->
<!--            </span>-->
<!--        </button>-->
    </h2>
    <button class="btn btn-primary float-right" (click)="massPreview()">
            <span >
            发送微信端预览
            </span>
    </button>
    <div class="float-right">
        <label class="" for="field_user">预览人</label>
        <input type="text" class="" name="wxUserPreview" id="field_user" placeholder="请输入预览人的openId"
               [(ngModel)]="wxUserPreview" maxlength="28"/>
    </div>
    <button class="btn btn-primary float-right" (click)="broadcast()">
            <span >
            群发此批记录
            </span>
    </button>
    <button class="btn btn-primary float-right" (click)="loadAll()">
            <span >
            查询
            </span>
    </button>
    <div class="float-right">
        <label class="" for="field_timestamp">时间批次:</label>
        <select class="" id="field_timestamp" name="timestamp" [(ngModel)]="choosenTime" >
            <option [ngValue]="null"></option>
            <option [ngValue]="timeOption === choosenTime ? choosenTime : timeOption" *ngFor="let timeOption of timestamps; ">{{timeOption | date:'medium'}}</option>
        </select>
    </div>
    <button class="btn btn-primary float-right" (click)="generateNewRecords()">
            <span >
            新生成一批记录
            </span>
    </button>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pushRecords">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pushType"><span>推送类型</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pushDateTime"><span>推送时间</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="success"><span>是否推送成功</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.wxNickName"><span>用户昵称</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultUrl"><span>群发结果地址</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pushRecord of pushRecords ;trackBy: trackId">
                <td><a [routerLink]="['/push-record', pushRecord.id, 'view' ]">{{pushRecord.id}}</a></td>
                <td>{{pushRecord.pushType}}</td>
                <td>{{pushRecord.pushDateTime | date:'medium'}}</td>
                <td>{{pushRecord.success}}</td>
                <td>
                    <div *ngIf="pushRecord.user">
                        <a [routerLink]="['../wx-user', pushRecord.user?.id, 'view' ]" >{{pushRecord.user?.wxNickName}}</a>
                    </div>
                </td>
                <td>{{pushRecord.resultUrl}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/push-record', pushRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/push-record', pushRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'push-record/'+ pushRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                        <button type="submit"
                                class="btn btn-danger btn-sm" (click)="preview(pushRecord.id)">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">预览结果</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pushRecords && pushRecords.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
