<div>
    <h2 id="page-heading">
        <span>Wx Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wx-user" [routerLink]="['/wx-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Wx User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wxUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxNickName"><span>Wx Nick Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxGender"><span>Wx Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxCountry"><span>Wx Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxProvince"><span>Wx Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxCity"><span>Wx City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxHeadimgurl"><span>Wx Headimgurl</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxUnionid"><span>Wx Unionid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wxLanguage"><span>Wx Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span>Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userStatus"><span>User Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerChannel"><span>Register Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerDateTime"><span>Register Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pushLimit"><span>Push Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="broker.name"><span>Broker</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let wxUser of wxUsers ;trackBy: trackId">
                <td><a [routerLink]="['/wx-user', wxUser.id, 'view' ]">{{wxUser.id}}</a></td>
                <td>{{wxUser.wxNickName}}</td>
                <td>{{wxUser.wxGender}}</td>
                <td>{{wxUser.wxCountry}}</td>
                <td>{{wxUser.wxProvince}}</td>
                <td>{{wxUser.wxCity}}</td>
                <td>{{wxUser.wxHeadimgurl}}</td>
                <td>{{wxUser.wxUnionid}}</td>
                <td>{{wxUser.wxLanguage}}</td>
                <td>{{wxUser.gender}}</td>
                <td>{{wxUser.userStatus}}</td>
                <td>{{wxUser.registerChannel}}</td>
                <td>{{wxUser.registerDateTime | date:'medium'}}</td>
                <td>{{wxUser.pushLimit}}</td>
                <td>
                    <div *ngIf="wxUser.broker">
                        <a [routerLink]="['../broker', wxUser.broker?.id, 'view' ]" >{{wxUser.broker?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wx-user', wxUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wx-user', wxUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wx-user/'+ wxUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
