<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="baseProperty">
            <h2><span>Base Property</span> {{baseProperty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Property ID</span></dt>
                <dd>
                    <span>{{baseProperty.propertyID}}</span>
                </dd>
                <dt><span>Property Name</span></dt>
                <dd>
                    <span>{{baseProperty.propertyName}}</span>
                </dd>
                <dt><span>Property Describe</span></dt>
                <dd>
                    <span>{{baseProperty.propertyDescribe}}</span>
                </dd>
                <dt><span>Property Type</span></dt>
                <dd>
                    <span>{{baseProperty.propertyType}}</span>
                </dd>
                <dt><span>Property Score</span></dt>
                <dd>
                    <span>{{baseProperty.propertyScore}}</span>
                </dd>
                <dt><span>Formy Type</span></dt>
                <dd>
                    <span>{{baseProperty.formyType}}</span>
                </dd>
                <dt><span>Completion Rate</span></dt>
                <dd>
                    <span>{{baseProperty.completionRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/base-property', baseProperty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
