<div>
    <h2 id="page-heading">
        <span>表单字段</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-form-field" [routerLink]="['/form-field/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            创建新的表单字段
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="formFields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fieldName"><span>字段名</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fieldType"><span>字段类型</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseForm.formName"><span>所属表单</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseProperty.propertyName"><span>对应属性</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formField of formFields ;trackBy: trackId">
                <td><a [routerLink]="['/form-field', formField.id, 'view' ]">{{formField.id}}</a></td>
                <td>{{formField.fieldName}}</td>
                <td>{{formField.fieldType}}</td>
                <td>
                    <div *ngIf="formField.baseForm">
                        <a [routerLink]="['../base-form', formField.baseForm?.id, 'view' ]" >{{formField.baseForm?.formName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formField.baseProperty">
                        <a [routerLink]="['../base-property', formField.baseProperty?.id, 'view' ]" >{{formField.baseProperty?.propertyName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/form-field', formField.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/form-field', formField.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'form-field/'+ formField.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="formFields && formFields.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
