<div>
    <h2 id="page-heading">
        <span>User Bases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-base" [routerLink]="['/user-base/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Base
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userBases">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userID"><span>User ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userName"><span>User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userStatus"><span>User Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sex"><span>Sex</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerChannel"><span>Register Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerBroker"><span>Register Broker</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerDate"><span>Register Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="registerTime"><span>Register Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let userBase of userBases ;trackBy: trackId">
                <td><a [routerLink]="['/user-base', userBase.id, 'view' ]">{{userBase.id}}</a></td>
                <td>{{userBase.userID}}</td>
                <td>{{userBase.userName}}</td>
                <td>{{userBase.userStatus}}</td>
                <td>{{userBase.sex}}</td>
                <td>{{userBase.registerChannel}}</td>
                <td>{{userBase.registerBroker}}</td>
                <td>{{userBase.registerDate}}</td>
                <td>{{userBase.registerTime}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-base', userBase.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-base', userBase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-base/'+ userBase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
