<div>
    <h2 id="page-heading">
        <span>用户头像</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container" *ngIf="pictureGrid" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <div *ngFor="let row of pictureGrid ;trackBy: trackId">
            <div class="user-picture" *ngFor="let cell of row" >
                <div class="img-zone">
                    <img [src]="cell['url']" style="height: 100%">
                </div>
                <div class="text-zone">
                    <a  [routerLink]="['/wx-user', cell['openId'], 'view' ]"><span>{{cell['nickname']}}</span></a>
                </div>

            </div>
        </div>
    </div>
</div>






