<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formToProperty">
            <h2><span>Form To Property</span> {{formToProperty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Form ID</span></dt>
                <dd>
                    <span>{{formToProperty.formID}}</span>
                </dd>
                <dt><span>Key Name</span></dt>
                <dd>
                    <span>{{formToProperty.keyName}}</span>
                </dd>
                <dt><span>Key Type</span></dt>
                <dd>
                    <span>{{formToProperty.keyType}}</span>
                </dd>
                <dt><span>Property Id</span></dt>
                <dd>
                    <span>{{formToProperty.propertyId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/form-to-property', formToProperty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
